* {
  font-size: 10px;
}

body {
  letter-spacing: 3px;
  line-height: 1.6;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 6px;
  border-top: 2px solid rgb(17, 0, 255);
  border-bottom: 2px solid rgb(17, 0, 255);
}

h2 {
  font-size: 3em;
}

p {
  font-size: 2em;
}

li {
  list-style-type: none;
  font-size: 3em;
}

a {
  font-size: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

#navigation {
  display: flex;
  flex-direction: column;
}