@font-face {
  font-family: Lora;
  src: url(../Fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Monsterrat;
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

/* @media screen and (max-width: 480px) {
  navbar {font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;} 

} */

* {
  font-size: 10px;
}

body {
  font-family: Lora, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  line-height: 1.6;
  background-color:white;
}

h1 {
  font-family: Monsterrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 6px;
  border-top: 4px solid rgb(17, 0, 255);
  border-bottom: 4px solid rgb(17, 0, 255);
}

h2 {
  font-size: 3em;
  letter-spacing: 3px;
}

p {
  font-size: 3em;
  letter-spacing: 2px;
}

li {
  list-style-type: none;
  font-size: 3em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

a:focus, a:hover {
  color: blue;
  cursor: pointer;
}

a:active {
  color: rgb(230, 196, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  column-gap: 50px;
}

#courses {
  font-size: 1em;
}

navbar {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

#more {
  display: none;
}

button {
  font-size: 16px;
}

#myBtn {
  color: #551A8B;
  font-size: 3em;
}

#myBtn:focus, #myBtn:hover {
  color: blue;
  cursor: pointer;
}

#myBtn:active {
  color: rgb(230, 230, 0);
}

footer {
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  font-size: 2em;
}